body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../dist/restaurant.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

.tab {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.2s;
}

.tab.active {
    color: gold;
}

.tab:hover {
    color: gold;
}

#main {
    width: 60%;
    background-color: #FAF3E0; /* Beige color */
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* for scrolling */
    max-height: calc(100vh - 60px);
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-description {
    font-size: 16px;
    margin-bottom: 5px;
}

.grid-lay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.flex-lay {
    display: flex;
    flex-direction: column;
}

.food {
    display: flex;
    align-items: center;
}

.food img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.description h3, .description h2 {
    margin: 0;
}
